*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


     /*tablet */

 .entrada-datos{
 text-align: center;
}
.logo-container{
    text-align: start;
}
.logo{
 
   margin: 1em 0px;
}
section textarea, .datos textarea{
    margin-top: 1em;
    width: 15em;
    height: 13em;
    font-size: 2em;
    color: blue;
    text-align: center;
    border: none;
    columns: 20;
}

.container-button{
    padding-left: 3em;
}
/* quita el marco del textarea */
section textarea:focus{
        outline:none;

}
.container-button button{
    border: solid 1px  blue;
    border-radius: 24px;
    color:  blue;
    padding: 1em 3em;
    width: 70%;
    margin-top: 1em;
 
   
}

button:hover{
    background-color: blue;
    color: rgb(255, 253, 253);
}
.datos{
    text-align: center;
   
}

.datos textarea{
    position: absolute;
    z-index: 1;
   display: none;
   margin: 1em auto;
   height: 56%;
   width: 85%;
  margin: 2em 1em;

 
}

.datos img{
    margin-top: 10em;
}
.datos p, .datos h2{
    margin-top: 1em;
    padding: .5em;
    white-space: pre-wrap;
    padding: 0 5em;
}
 
.datos button{
    margin-top: 1em;
    width: 70%;
    border: solid 1px  blue;
    border-radius: 24px;
    color:  blue;
    padding: 1em 3em;
}



 /*tablet   */
 @media(min-device-width:577px){


    .container-button button{
        display: inline;
        margin: 1em auto;
       width: 40%;
        padding: 1em;
        text-align: center;
     
    }

    section textarea{
       columns: 60;
    }

    .datos textarea{
       height: 61%;
       width: 90%;
       margin: 0 auto;
       padding: 0 2em;
    }


}



/*portátiles    */
@media (min-device-width: 993px){
    
    section{
        display: inline-block;
        

    }
    .entrada-datos{

       width: 70%;
    }
    .datos{
        width: 25%;
    }


    .datos img{
        margin: 0 auto;
        width: 15em;
    }

    .datos p, .datos h2{
        padding: 0;

    }

    .datos textarea{
        margin: 0;
        padding: 0;
        height: 12em;
        width: 25%;
     }
}