*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 /*móviles   */
 .entrada-datos{
 text-align: center;
}
.logo-container{
    text-align: start;
}
.logo{
 
   margin: 1em 0px;
}
section textarea{
    margin-top: 1em;
    max-width: 15em;
    max-height: 13em;
    font-size: 2em;
    color: blue;
    text-align: center;
    border: none;
}


.container-button button{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    width: 70%;


    border: solid 1px  blue;
    border-radius: 24px;
    color:  blue;
    padding: 1em 3em;
}

button:hover{
    background-color: blue;
    color: gray;
}
.datos{
    text-align: center;
}

.datos img{
    margin-top: 10em;
}
.datos p, .datos h2{
    margin-top: 1em;
    padding: .5em;
    white-space: pre-wrap;
    padding: 0 5em;
}
 
.datos button{
    margin-top: 1em;
    width: 70%;
    border: solid 1px  blue;
    border-radius: 24px;
    color:  blue;
    padding: 1em 3em;
}



 /*tablet   */
@media screen and (min-device-width: 769px){
    
}



/*portátiles    */
@media screen and (min-device-width: 993px){
    
}