*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


     /*tablet */

 .entrada-datos{
 text-align: center;
}
.logo-container{
    text-align: start;
}
.logo{
 
   margin: 1em 0px;
}
section textarea{
    margin-top: 1em;
    width: 15em;
    height: 13em;
    font-size: 2em;
    color: blue;
    text-align: center;
    border: none;
    columns: 20;
}

.container-button{
    padding-left: 3em;
}

.container-button button{
    border: solid 1px  blue;
    border-radius: 24px;
    color:  blue;
    padding: 1em 3em;
    width: 70%;
    margin-top: 1em;
 
   
}

button:hover{
    background-color: blue;
    color: gray;
}
.datos{
    text-align: center;
}

.datos img{
    margin-top: 10em;
}
.datos p, .datos h2{
    margin-top: 1em;
    padding: .5em;
    white-space: pre-wrap;
    padding: 0 5em;
}
 
.datos button{
    margin-top: 1em;
    width: 70%;
    border: solid 1px  blue;
    border-radius: 24px;
    color:  blue;
    padding: 1em 3em;
}



 /*tablet   */
 @media(min-device-width:577px){


    .container-button button{
        display: inline;
        margin: 1em auto;
       width: 40%;
        padding: 1em;
        text-align: center;
     
    }

    section textarea{
columns: 60;
    }




}



/*portátiles    */
@media (min-device-width: 993px){
    
    section{
        display: inline-block;
        

    }
    .entrada-datos{

       width: 70%;
    }
    .datos{
        width: 25%;
    }

    .entrada-datosr{
   
        background-color: aqua;
    }
    .logo{
        position: absolute;
        top: 0;
       
    }

}